<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FeelRadio</title>
    <meta charset="utf-8">
    <link href="__CSS__/nanoscroller.css" rel="stylesheet">
    <link href="__CSS__/feel.css" rel="stylesheet">
    <script src="__JS__/sm2/script/soundmanager2-nodebug.js"></script>
    <script src="__JS__/jquery-1.8.2.min.js"></script>
    <script src="__JS__/overthrow.min.js"></script>
    <script src="__JS__/jquery.nanoscroller.js"></script>
    <script src="__JS__/handle.js"></script>
    <style>
      #bottom {
        width:500px;
        /*left: 500px;*/
        margin: 0 auto;
        margin-top: 600px;
      }
      #bottom a{
        font-size: 10px;
        color: #fff;

      }
      #menu #drop{
        height:150px;
      }
      #list {
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div id="navbar">
      <div class="center"><img src="__PIC__/logo/feel_logo.png"></div>
    </div>
    <div id="body">
      <div id="menu">
        <div id="program"><span title="点击展开或者缩小">Menu</span>
          <div id="drop">
            <div class="nano">
              <div id="inside" class="content">
				
			</div>
            </div>
          </div>
        </div>
        <div id="top10"><span>Top10 采访</span>
          <div id="some">
            <div class="nano">
              <div id="record" class="content"></div>
            </div>
          </div>
        </div>
        <a id="dj-link" href="{:U('dj')}" target="_blank">魅力主播</a>
         <div id="dj" class="content"></div>
      </div>
      <div id="player"><img id="cover">
        <div id="progress">
          <div id="step"></div>
        </div>
        <div id="ctrl"><img id="backward" src="__PIC__/ctrl/backward.png"><img id="toggle" src="__PIC__/ctrl/pause.png"><img id="forward" src="__PIC__/ctrl/forward.png"></div>
      </div>
      <div id="info">
        <div id="dj-info"><a href=""><img id="dj-avatar"></a><a id="dj-name" href="" target="_blank"></a><a id="sina" target="_blank"><img src="__PIC__/ctrl/sina.png"></a></div>
        <div id="dj-intro"></div>
        <div id="program-intro"></div>
      </div>
    </div>
    <div id="list">
      <div id="wrap-list">
        <div class="nano">
          <div id="insidelist" class="content"></div>
        </div>
      </div>
    </div>
    <div id="slide">往期节目</div>
    <div id="bottom">
    <a href="admin.php" target="_blank">后台</a>&nbsp;&nbsp;<span style="float:right"><a href="http://www.myzjut.org" target="_blank">精弘网络 2002-2013</a></span><div>
	  
  </body>
<script>
  //节目
	var processFile ='index.php/Api/content';
  var formData = "classid=2";
	$.ajax({
		type:'GET',
		url: processFile,
    data: formData,
		dataType:'json',
		success: function(data){
			for(i=0;i<data.length;i++)
			{
				$("#inside").after("<div class='program'>"+data[i].contentname+"</div>");
			}	
		}
	});
  //特殊节目
  var processFile ='index.php/Api/content';
  var formData = "classid=3";
  $.ajax({
    type:'GET',
    url: processFile,
    data: formData,
    dataType:'json',
    success: function(data){
      for(i=0;i<data.length;i++)
      {
        $("#record").after("<div class='program'>"+data[i].contentname+"</div>");
      } 
    }
  });
  //主播
  var processFile ='index.php/Api/dj';
  //var formData = "djid=2";
  $.ajax({
    type:'GET',
    url: processFile,
    data: formData,
    dataType:'json',
    success: function(data){
      for(i=0;i<data.length;i++)
      {
        $("#dj").after("<div class='program'>"+data[i].name+"</div>");
      } 
    }
  });
</script>
</html>
